*{
    font-family: Arial;
    background-color: bisque;
}
h1,h2 {
    border: solid;
    border-radius: 3cm;
    color: blue;
    font-size: 12px;
}


#para1 {
    text-align: center;
    color: rgb(0, 235, 252);
}

.heading2 {
    background-color: aquamarine;
}
